name: CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Cache pip dependencies
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run train.py
      run: CUDA_VISIBLE_DEVICES=-1 python train.py wnli --seed 0 --data_dir .github/workflows/data

    - name: Run mask.py
      run: CUDA_VISIBLE_DEVICES=-1 python mask.py wnli 0 --data_dir .github/workflows/data
