name: CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run train.py
      run: CUDA_VISIBLE_DEVICES=-1 python train.py cola --seed 0

    - name: Run mask.py
      run: CUDA_VISIBLE_DEVICES=-1 python mask.py cola 0
